
<style>
    body{
        text-align: center;
        display:flex;
        flex-direction: column;
        color: pink;
        background-color: purple;
      }
    h1{
      align-content: center;
    }
    nav{
          height: 50vh;
          display:flex;
          flex-direction: row;
          justify-content:space-between;
          height:20px;
          background-color:blueviolet;
          position:sticky;
      }
    nav a{
        width:10vw;
        text-decoration: none;
        color:pink;
        position: sticky;
    }
    .column {
      float:right;
      width: 15.55%;
      padding: 5px;
	  }

    .container::after{
      content: "";
      clear:both;
      display:table;
    }

	  img {
	  width: 11em;
	  }	

    footer{
      text-align:center;
    }
    .song {
    text-size-adjust: 30%;
    font-size: larger;
    width: 80vw;
    height: 10vh;
    padding: 5px;
    border: 5px solid gray;
    margin: 15%;
    display: flex; 
    column-count: 3;
    column-gap: 20%;
    column-rule-width: 10%;
    animation-name: animateImage;
    animation-duration: 3s;
    animation-iteration-count: 1s;
    animation-name: animatesong;
    animation-duration: 3s;
    animation-iteration-count: 1s;
  }
  .loc {
    width: 50vw;
    height: 50vh;
    padding: 5px;
    border: 5px solid gray;
    margin: 15%;
    column-count: 3;
    column-gap: 30%;
    column-rule-width: 10%;
    animation-name: animateloc;
    animation-duration: 3s;
    animation-iteration-count: 1s;
  }
  .tics {
    font-size: larger;
    width: 80vw;
    height:  10vh;
    padding: 5px;
    display: flex 10%;
    border: 5px solid gray;
    margin: 15%;
    column-count: 3;
    column-gap: 20%;
    column-rule-width: 5%;
    animation-name: animatetic;
    animation-duration: 3s;
    animation-iteration-count: 1s;
  }
  @keyframes  animatesong{
        to{
            margin-right: 0%;
        }
        from{
            width:30vw;
            height: 30vh;
            margin-left: 50%;
        }
  }
  @keyframes  animateloc{
        to{
            margin-left: 0%;
        }
        from{
            width:30vw;
            height: 30vh;
            margin-right: 50%;
        }
  }
  @keyframes  animatetic{
        to{
            margin-top: 0%;
        }
        from{
            width:30vw;
            height: 30vh;
            margin-bottom: 50%;
        }
  }


  
  
  </style>